In [3]:
import os
import urllib.request as ur
import requests
from ftplib import FTP
import zipfile
import urllib.parse
#import wget 
import pandas as pd

In [4]:

FTP_HOST = "ftp.nhtsa.dot.gov"
OUT_DIR  = "../data/_rawdata"   
Years=[2015,2016,2017]

In [5]:

ftp = FTP(FTP_HOST)
ftp.login()
# get list of .zip files

for year in Years:
    FTP_DIR  = "/FARS/"+str(year)+"/National"
    print(FTP_DIR)
    ftp.cwd(FTP_DIR)
    files = ftp.nlst()
    print(files)
    files = [f for f in files if f.lower().endswith("csv.zip")]
    num=len(files)
    for i, fname in enumerate(files, 1):
        print("Downloading {} ({}/{}) ... ".format(fname, i, num), end='')
        
        local_file = os.path.join(OUT_DIR, fname)
        print(local_file)
        
        with open(local_file, "wb") as outf:
            ftp.retrbinary("RETR "+fname, outf.write)
        print("done!")
        
        outf.close()
ftp.close()

/FARS/2015/National
['FARS2015NationalCSV.zip', 'FARS2015NationalSAS.zip']
Downloading FARS2015NationalCSV.zip (1/1) ... ../data/_rawdata\FARS2015NationalCSV.zip
done!
/FARS/2016/National
['FARS2016NationalCSV.zip', 'FARS2016NationalSAS.zip']
Downloading FARS2016NationalCSV.zip (1/1) ... ../data/_rawdata\FARS2016NationalCSV.zip
done!
/FARS/2017/National
['FARS2017NationalCSV.zip', 'FARS2017NationalSAS.zip']
Downloading FARS2017NationalCSV.zip (1/1) ... ../data/_rawdata\FARS2017NationalCSV.zip
done!

In [7]:
#TEST the ftp run

zf = zipfile.ZipFile(os.path.join(OUT_DIR,'FARS2015NationalCSV.zip') )
df = pd.read_csv(zf.open('accident.csv'))
df.head()

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,1,1,127,...,99,2,58,88,88,0,0,0,1,1
1,1,10002,1,1,0,0,0,1,1,83,...,99,22,20,88,88,0,0,0,1,0
2,1,10003,1,1,0,0,0,2,2,11,...,99,1,45,99,99,0,0,0,1,1
3,1,10004,1,1,0,0,0,1,1,45,...,99,1,15,88,88,0,0,0,1,1
4,1,10005,2,2,0,0,0,2,2,45,...,99,7,16,88,88,0,0,0,1,0